.correta {
  color: #0f5132;
  font-weight: bold;
  background-color: #d1e7dd;
  padding: 5px;
  border-radius: 5px;
}

.incorreta {
  color: #842029;
  font-weight: bold;
  background-color: #f8d7da;
  padding: 5px;
  border-radius: 5px;
}
